@model TravelTreats.Models.Experience
@{
    ViewData["Title"] = "TravelTreats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Add an Experience</h2>
<hr/>
@using (Html.BeginForm())
{
    @Html.LabelFor(model => model.Description, "Description: ")
    @Html.EditorFor(model => model.Description)

    @Html.LabelFor(model => model.LocationId, "Location: ")
    @Html.DropDownList("LocationId")

    @Html.LabelFor(model => model.MealTypeId, "Type of food: ")
    @Html.DropDownList("MealTypeId")

    <input type="submit" value="Create"/>
}
@Html.ActionLink("back to list", "Index")
