@model TravelTreats.Models.Experience
@{
    ViewData["Title"] = "TravelTreats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Details</h2>
<hr />
<p>@Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description)</p>
<p>@Html.DisplayNameFor(model => model.MealType.MealTypeName): @Html.DisplayFor(model => model.MealType.MealTypeName)</p>
<p>@Html.DisplayNameFor(model => model.Locations.LocationName): @Html.DisplayFor(model => model.Locations.LocationName)</p>
@Html.ActionLink("Back to list", "Index")
