@model IEnumerable<TravelTreats.Models.Experience>
@{
    ViewData["Title"] = "TravelTreats";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
    
*@
@{
}
<h2>Experiences!!!</h2>
<table class="table">
    <tr>
        <th>
            <h2>Name</h2>
        </th>
    </tr>
@foreach(var experience in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelExperience => experience.Description)
        </td>
        <td>
            @Html.ActionLink("Update", "Update", new { id = experience.ExperienceId }) |
            @Html.ActionLink("Details", "Details", new { id = experience.ExperienceId }) |
            @Html.ActionLink("Delete", "Delete", new { id = experience.ExperienceId })
        </td>
    </tr>
}
</table>
@Html.ActionLink("Add a new experience", "Create")
@Html.ActionLink("Add a new encounter", "Create", "Encounters", null)
